#!/bin/sh

# Desktop environment identification
export XDG_CURRENT_DESKTOP=dwm

# Theming
export GTK_THEME=Orchis-Purple-Dark

# Display configuration
if xrandr | grep -q "^DisplayPort-11 connected"; then
    xrandr \
        --output DisplayPort-11 --mode 1920x1080 --rate 240 \
        --output eDP --off
else
    xrandr \
        --output eDP --mode 1920x1080 --rate 60
fi

# Redshift
redshift &

# Start gentoo pipewire script
gentoo-pipewire-launcher &

# Keyboard layout
setxkbmap -option caps:escape &

# Wallpaper
~/.fehbg &

# Compositor
picom &
